USE [master]
GO
/****** Object:  Database [Assignment2_HuynhPhucDuy]    Script Date: 3/16/2021 2:50:42 PM ******/
CREATE DATABASE [Assignment2_HuynhPhucDuy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment2_HuynhPhucDuy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Assignment2_HuynhPhucDuy.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Assignment2_HuynhPhucDuy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Assignment2_HuynhPhucDuy_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment2_HuynhPhucDuy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment2_HuynhPhucDuy]
GO
/****** Object:  Table [dbo].[tblOption]    Script Date: 3/16/2021 2:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOption](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[optionContext] [nvarchar](300) NULL,
	[isRight] [bit] NULL,
	[idQues] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblQuestion]    Script Date: 3/16/2021 2:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblQuestion](
	[idQues] [char](30) NOT NULL,
	[contentQues] [nvarchar](300) NULL,
	[createDateQues] [datetime] NOT NULL DEFAULT (getdate()),
	[idSubject] [char](30) NOT NULL,
	[statusQues] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idQues] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblQuiz]    Script Date: 3/16/2021 2:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblQuiz](
	[idQuiz] [char](30) NOT NULL,
	[titleQuiz] [nvarchar](100) NULL,
	[idSubject] [char](30) NOT NULL,
	[emailUser] [nvarchar](80) NULL,
	[timeStartQuiz] [datetime] NULL,
	[timeStopQuiz] [datetime] NULL,
	[isActive] [bit] NULL,
	[Scrore] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idQuiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblResultDetail]    Script Date: 3/16/2021 2:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblResultDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idQuiz] [char](30) NULL,
	[idOptionChoice] [int] NULL,
	[idQues] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 3/16/2021 2:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRoles](
	[roleID] [int] NOT NULL,
	[roleName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSubject]    Script Date: 3/16/2021 2:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSubject](
	[idSub] [char](30) NOT NULL,
	[nameSub] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 3/16/2021 2:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUsers](
	[email] [nvarchar](80) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[password] [varchar](257) NULL,
	[roleID] [int] NOT NULL,
	[status] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblOption] ON 

INSERT [dbo].[tblOption] ([id], [optionContext], [isRight], [idQues]) VALUES (1, N'	A java program that runs on a web application server only.	', 0, N'[PRJ321]05OFQ89PKMVL24LDHK    ')
INSERT [dbo].[tblOption] ([id], [optionContext], [isRight], [idQues]) VALUES (2, N'	A java class that dynamically processes HTTP requests and construct responses.	', 1, N'[PRJ321]05OFQ89PKMVL24LDHK    ')
INSERT [dbo].[tblOption] ([id], [optionContext], [isRight], [idQues]) VALUES (3, N'	A java programming language class that is used to extend the abilities of host application.	', 0, N'[PRJ321]05OFQ89PKMVL24LDHK    ')
GO
SET IDENTITY_INSERT [dbo].[tblOption] OFF
INSERT [dbo].[tblQuestion] ([idQues], [contentQues], [createDateQues], [idSubject], [statusQues]) VALUES (N'[PRJ311]1JJ1ZE34BK005FB9E8    ', N'The header for the paintComponent method is ________________.', CAST(N'2021-02-19 16:04:42.750' AS DateTime), N'PRJ311                        ', 1)
INSERT [dbo].[tblQuestion] ([idQues], [contentQues], [createDateQues], [idSubject], [statusQues]) VALUES (N'[PRJ311]21533NTMS4G99Z2PK8    ', N'____________ is a component that enables the user to choose a single value or multiple values.', CAST(N'2021-02-19 15:29:47.603' AS DateTime), N'PRJ311                        ', 1)
INSERT [dbo].[tblQuestion] ([idQues], [contentQues], [createDateQues], [idSubject], [statusQues]) VALUES (N'[PRJ311]2BXGGFOD6IBQRBLS50    ', N'What is best to describe the relationship between a container and a layout manager?', CAST(N'2021-02-19 15:14:33.470' AS DateTime), N'PRJ311                        ', 1)
GO
INSERT [dbo].[tblQuiz] ([idQuiz], [titleQuiz], [idSubject], [emailUser], [timeStartQuiz], [timeStopQuiz], [isActive], [Scrore]) VALUES (N'[QUIZ]7IYAMMQRPBQI0WO6VV      ', N'PRJ311[2021-03-04 10:32:16.409]', N'PRJ311                        ', N'userTest@gmail.com', CAST(N'2021-03-04 10:32:16.410' AS DateTime), CAST(N'2021-03-04 10:42:16.410' AS DateTime), 0, 0)
INSERT [dbo].[tblQuiz] ([idQuiz], [titleQuiz], [idSubject], [emailUser], [timeStartQuiz], [timeStopQuiz], [isActive], [Scrore]) VALUES (N'[QUIZ]K9CFEBV1LWAF2QMJRB      ', N'PRJ311[2021-03-04 09:49:58.717]', N'PRJ311                        ', N'userTest@gmail.com', CAST(N'2021-03-04 09:49:58.717' AS DateTime), CAST(N'2021-03-04 10:49:58.717' AS DateTime), 0, 0)
INSERT [dbo].[tblQuiz] ([idQuiz], [titleQuiz], [idSubject], [emailUser], [timeStartQuiz], [timeStopQuiz], [isActive], [Scrore]) VALUES (N'[QUIZ]Q03IXRLWN4PNUHUOPA      ', N'PRJ311[2021-03-04 09:50:24.465]', N'PRJ311                        ', N'userTest@gmail.com', CAST(N'2021-03-04 09:50:24.467' AS DateTime), CAST(N'2021-03-04 10:00:24.467' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[tblResultDetail] ON 

INSERT [dbo].[tblResultDetail] ([id], [idQuiz], [idOptionChoice], [idQues]) VALUES (359, N'[QUIZ]K9CFEBV1LWAF2QMJRB      ', NULL, N'[PRJ311]GB7TDU8PHUTZ7R12PF    ')
INSERT [dbo].[tblResultDetail] ([id], [idQuiz], [idOptionChoice], [idQues]) VALUES (360, N'[QUIZ]K9CFEBV1LWAF2QMJRB      ', NULL, N'[PRJ311]ODDANL71GF5VRKYBAX    ')
INSERT [dbo].[tblResultDetail] ([id], [idQuiz], [idOptionChoice], [idQues]) VALUES (361, N'[QUIZ]K9CFEBV1LWAF2QMJRB      ', NULL, N'[PRJ311]V9XGRTYAO2LDZRXVSA    ')
GO
SET IDENTITY_INSERT [dbo].[tblResultDetail] OFF
INSERT [dbo].[tblRoles] ([roleID], [roleName]) VALUES (0, N'Student')
INSERT [dbo].[tblRoles] ([roleID], [roleName]) VALUES (1, N'Lecture')
INSERT [dbo].[tblRoles] ([roleID], [roleName]) VALUES (2, N'Admin')
INSERT [dbo].[tblSubject] ([idSub], [nameSub]) VALUES (N'ASD                           ', N'ASD')
INSERT [dbo].[tblSubject] ([idSub], [nameSub]) VALUES (N'PRJ311                        ', N'Desktop')
INSERT [dbo].[tblSubject] ([idSub], [nameSub]) VALUES (N'PRJ321                        ', N'Java Java Web')
INSERT [dbo].[tblUsers] ([email], [name], [password], [roleID], [status]) VALUES (N'aaa123@gmail.com', N'Huynh Duy', N'96cae35ce8a9b0244178bf28e4966c2ce1b8385723a96a6b838858cdd6ca0a1e', 0, N'New                 ')
INSERT [dbo].[tblUsers] ([email], [name], [password], [roleID], [status]) VALUES (N'abcd123@gmail.com', N'Huynh Phuc Duy', N'96cae35ce8a9b0244178bf28e4966c2ce1b8385723a96a6b838858cdd6ca0a1e', 0, N'New                 ')
INSERT [dbo].[tblUsers] ([email], [name], [password], [roleID], [status]) VALUES (N'adminTest@gmail.com', N'admin Test', N'96cae35ce8a9b0244178bf28e4966c2ce1b8385723a96a6b838858cdd6ca0a1e', 1, N'New                 ')
ALTER TABLE [dbo].[tblOption]  WITH CHECK ADD FOREIGN KEY([idQues])
REFERENCES [dbo].[tblQuestion] ([idQues])
GO
ALTER TABLE [dbo].[tblQuestion]  WITH CHECK ADD FOREIGN KEY([idSubject])
REFERENCES [dbo].[tblSubject] ([idSub])
GO
ALTER TABLE [dbo].[tblQuiz]  WITH CHECK ADD FOREIGN KEY([emailUser])
REFERENCES [dbo].[tblUsers] ([email])
GO
ALTER TABLE [dbo].[tblQuiz]  WITH CHECK ADD FOREIGN KEY([idSubject])
REFERENCES [dbo].[tblSubject] ([idSub])
GO
ALTER TABLE [dbo].[tblResultDetail]  WITH CHECK ADD FOREIGN KEY([idOptionChoice])
REFERENCES [dbo].[tblOption] ([id])
GO
ALTER TABLE [dbo].[tblResultDetail]  WITH CHECK ADD FOREIGN KEY([idQues])
REFERENCES [dbo].[tblQuestion] ([idQues])
GO
ALTER TABLE [dbo].[tblResultDetail]  WITH CHECK ADD FOREIGN KEY([idQuiz])
REFERENCES [dbo].[tblQuiz] ([idQuiz])
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[tblRoles] ([roleID])
GO
USE [master]
GO
